body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fffdde;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    font-size: 2em;
    text-align: center;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto; 
    text-align: center;
    /* margin: 0 10em 5em 10em; */
}

h3 {
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}

.logo {
    text-align: center;
    margin: 2em 0;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    padding: 2em 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-bar-background {
    background-color: #f3deff;
    padding: 1em 0;
}

.nav-item {
    display: inline-block;
    margin: 0 10em;
}

.gallery-coffee {
   text-align: center;
}

.gallery-star-mission-1 {
    text-align: center;
    padding-bottom: 0.25em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.gallery-star-mission-2 {
    text-align: center;
    padding-bottom: 0.25em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.gallery-guitar {
    text-align: center;
    display: block;
}

.gallery-random-works {
    text-align: center;
    padding: 1em;
}

.copyright {
    text-align: center;
    font-size: 0.9em;
    padding: 1em 0;
    background-color: #f0f0f0;
    font-weight: bold;
}

.gallery-random-works-1 {
    padding: 1em;
}

.gallery-random-works-2 {
    padding: 1em;
}

.gallery-random-works-3 {
    padding: 1em;
}

.gallery-random-works-4 {
    padding: 1em;
}

.gallery-random-works-5 {
    padding: 1em;
}

.gallery-random-works-6 {
    padding: 1em;
}

.gallery-random-works-7 {
    padding: 1em;
}

.gallery-random-works-8 {
    padding: 1em;
}

.gallery-random-works-9 {
    padding: 1em;
}






















/*
css for carousel

.carousel-item {
    text-align: center;
}

.slide {
    text-align: center;
}

.w-100 {
    width: 25%;
} */
