body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fffdde;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    font-size: 2em;
    text-align: center;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
}

h2 {
    font-size: 1.5em;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto; 
    text-align: center;
}

h3 {
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}

.logo {
    text-align: center;
    margin: 2em 0;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-size: 1.3em;
    padding: 2em 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.nav-bar-background {
    background-color: #f3deff;
    padding: 1em 0;
}

.nav-item {
    display: inline-block;
    margin: 0 10em;
}

.sticky-navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.intro {
    text-align: center;
    padding: 3em;
    font-size: 1.2em;
}

.coffee{
    background-color: #A49393;
    padding: 2.8em;
    font-size: 1.2em;
}

.gallery-coffee {
   text-align: center;
}

.guitar {
    background-color: #f78879;
    padding: 2.8em;
    font-size: 1.2em;
}

.gallery-guitar {
    text-align: center;
    display: block;
}

.star-mission {
    background-color: #d49fff;
    padding: 2.8em;
    font-size: 1.2em;
}

.gallery-star-mission-1 {
    text-align: center;
    padding-bottom: 0.25em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.gallery-star-mission-2 {
    text-align: center;
    padding-bottom: 0.25em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.random-works {
    padding: 2.8em 2.8em 1em 2.8em;
    font-size: 1.2em;
}

.gallery-random-works {
    text-align: center;
    padding: 1em;
}

.gallery-random-works-1 {
    padding: 1em;
}

.gallery-random-works-2 {
    padding: 1em;
}

.gallery-random-works-3 {
    padding: 1em;
}

.gallery-random-works-4 {
    padding: 1em;
}

.gallery-random-works-5 {
    padding: 1em;
}

.gallery-random-works-6 {
    padding: 1em;
}

.gallery-random-works-7 {
    padding: 1em;
}

.gallery-random-works-8 {
    padding: 1em;
}

.gallery-random-works-9 {
    padding: 1em;
}

.gallery-random-works-10 {
    padding: 1em;
}

.about {
    text-align: center;
    padding: 3em 2.5em 1em 2.5em;
    font-size: 1.2em;
}

.about-container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    margin-left: 3em;
    margin-right: 5em;
    padding-top: 1em;
}

.portrait-illustation-container {
    text-align: center;
    padding: 5em;
}

.about-statement {
    padding: 3em 2.5em 1em 2.5em;
    font-size: 1.2em;
    font-weight: bold;
}

.contact {
    text-align: center;
    padding: 3em 2.5em 1em 2.5em;
    font-size: 1.2em;
}

.contact-form-container {
    text-align: center;
    padding: 3em 2.5em 1em 2.5em;
    font-size: 1.2em;

}

.contact-form {
    padding: 0.5em;
    font-weight: bold;
    text-align: center;
    
}



.submit-button {
    text-decoration: dotted;
    background-color: #d49fff;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 1em;
    margin-bottom: 1em;
    display: inline-block;
}

.copyright {
    text-align: center;
    font-size: 0.9em;
    padding: 1em 0;
    background-color: #f0f0f0;
    font-weight: bold;
}
