h1 {
    font-size: 2em;
    text-align: center;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto; 
    margin: 0 10em 5em 10em;
}

h3 {
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}

.gallery-coffee {
   text-align: center;
}

.gallery-star-mission-1 {
    text-align: center;
}

.gallery-star-mission-2 {
    text-align: center;
}